@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html,
body {
  font-family: "Montserrat", sans-serif;
  color: #3b3b3b;
  position: relative;
  overflow-x: hidden; }

.fixed {
  position: fixed; }

* {
  box-sizing: border-box; }

.container {
  width: 85%;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .container {
      width: 80%; } }

.section {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section__header {
    width: 85%;
    text-align: center;
    margin-bottom: 0.5rem; }
    @media (min-width: 768px) {
      .section__header {
        width: 70%; } }
    @media (min-width: 1200px) {
      .section__header {
        width: 60%; } }
  .section__intro {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: justify;
    display: flex;
    justify-content: center; }
    @media (min-width: 768px) {
      .section__intro {
        text-align: center;
        width: 85%; } }

p:not(:last-of-type),
h1:not(:last-of-type),
h2:not(:last-of-type),
h3:not(:last-of-type),
h4:not(:last-of-type) {
  margin-bottom: 1rem; }

p {
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 992px) {
    p {
      font-size: 18px; } }

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4; }
  @media (min-width: 992px) {
    h1 {
      font-size: 36px; } }

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4; }
  @media (min-width: 992px) {
    h2 {
      font-size: 30px; } }

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4; }
  @media (min-width: 1200px) {
    h3 {
      font-weight: 600;
      font-size: 24px; } }

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    h4 {
      font-size: 18px; } }

.header {
  height: 100vh;
  background-color: #1372e8; }
  @media (min-width: 768px) {
    .header {
      background-color: unset;
      height: 500px;
      background-image: url("./../img/header_bg.png");
      background-size: cover;
      background-repeat: no-repeat; } }
  @media (min-width: 992px) {
    .header {
      height: 600px;
      background-size: fill; } }
  @media (min-width: 1200px) {
    .header {
      background-size: 100%;
      height: 100vh;
      min-height: 100vh; } }

.navbar {
  height: 90px;
  display: flex;
  align-items: center; }
  .navbar__wrapper {
    display: flex;
    justify-content: space-between;
    height: 30px; }
  .navbar__hamburger {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center; }
    .navbar__hamburger div {
      width: 40px;
      height: 6px;
      background-color: #fdb816;
      transition: all 0.2s ease-out; }
      .navbar__hamburger div::before, .navbar__hamburger div::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        height: 6px;
        background-color: #fdb816;
        transition: all 0.2s ease-in-out; }
      .navbar__hamburger div::before {
        top: 0; }
      .navbar__hamburger div::after {
        bottom: 0; }
    .navbar__hamburger.active div {
      background-color: transparent; }
      .navbar__hamburger.active div::before {
        background-color: #ffffff;
        top: 50%;
        transform: translateY(-50%) rotate(45deg); }
      .navbar__hamburger.active div::after {
        background-color: #ffffff;
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg); }
  .navbar__brand {
    display: flex;
    align-items: center; }
    .navbar__brand img {
      height: 30px; }

.hero {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .hero {
      height: 410px;
      justify-content: space-between;
      flex-direction: row;
      position: relative; } }
  .hero__intro {
    order: 2;
    color: #ffffff;
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .hero__intro {
        align-items: flex-start;
        flex-basis: 55%;
        order: 1; } }
    .hero__intro h1 {
      margin-bottom: 2rem;
      text-align: center; }
      @media (min-width: 768px) {
        .hero__intro h1 {
          text-align: left; } }
    .hero__intro a {
      margin-bottom: 2rem; }
  .hero__image {
    order: 1;
    margin-bottom: 2rem; }
    @media (min-width: 1200px) {
      .hero__image {
        margin-bottom: 0;
        order: 2; } }
    .hero__image img {
      width: 360px; }
      @media (min-width: 768px) {
        .hero__image img {
          width: 350px; } }
      @media (min-width: 992px) {
        .hero__image img {
          width: 400px; } }
      @media (min-width: 1200px) {
        .hero__image img {
          width: 550px; } }

.nav {
  flex-basis: 70%;
  display: flex;
  align-items: center; }
  .nav--mobile {
    flex-basis: 100%; }
  @media (min-width: 1200px) {
    .nav {
      flex-basis: 60%; } }
  .nav__list {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav__list > li > a {
      font-size: 24px;
      color: #ffffff; }
      .nav__list > li > a.active {
        color: #fdb816; }
      .nav__list > li > a:hover {
        color: #1bbc9d; }
    .nav__list--footer {
      flex-direction: column !important;
      align-items: flex-start; }
      .nav__list--footer > li {
        margin-bottom: 10px; }
        .nav__list--footer > li a {
          font-size: 16px;
          color: #ffffff; }
          .nav__list--footer > li a:hover {
            color: #1bbc9d; }
    .nav__list--mobile {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .nav__list--mobile > li {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 80%; }
        .nav__list--mobile > li a {
          text-align: center;
          padding: 1rem;
          flex: 1;
          font-size: 24px;
          color: #ffffff; }
          @media (min-width: 768px) {
            .nav__list--mobile > li a {
              font-size: 30px; } }
          .nav__list--mobile > li a.active {
            color: #1372e8; }
          .nav__list--mobile > li a:hover {
            color: #1bbc9d; }

.mobile-menu {
  background-color: #fdb816;
  position: absolute;
  top: 0;
  left: -10000px;
  width: 100vw;
  height: 100vh;
  transition: left 0.2s ease-in-out;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mobile-menu.show {
    left: 0; }

.footer {
  padding: 2rem 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: #1372e8; }
  @media (min-width: 1200px) {
    .footer {
      padding-top: 3rem;
      height: 400px;
      background-color: #f5f5f5;
      background-image: url("./../img/footer_bg.png");
      background-size: 100%;
      background-repeat: no-repeat; } }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .footer__wrapper {
        align-items: flex-start; } }
  .footer__logo img {
    height: 30px;
    margin-bottom: 2rem; }
    @media (min-width: 1200px) {
      .footer__logo img {
        height: 40px; } }
  .footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (min-width: 768px) {
      .footer__content {
        flex-wrap: nowrap; } }
  .footer__about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .footer__about {
        margin-bottom: 0;
        flex-basis: 45%;
        text-align: left; } }
  .footer__link {
    flex-basis: 50%; }
    @media (min-width: 768px) {
      .footer__link {
        flex-basis: 20%; } }
  .footer__social {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .footer__social {
        flex-basis: 25%; } }
    .footer__social__list {
      display: flex;
      justify-content: space-between; }
      .footer__social__list img {
        width: 32px; }

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.2rem; }
  @media (min-width: 1200px) {
    .form {
      padding: 2.5rem 2rem; } }

input,
textarea {
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 16px; }
  @media (min-width: 1200px) {
    input,
    textarea {
      resize: none;
      padding: 16px;
      font-size: 18px;
      border-radius: 10px; } }
  input:focus,
  textarea:focus {
    outline: none; }

.btn {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fdb816;
  padding: 16px 36px;
  border-radius: 30px;
  display: inline-block;
  text-align: center; }
  @media (min-width: 1200px) {
    .btn {
      font-size: 24px; } }
  .btn--green {
    background-color: #2dcc7f; }
  .btn--icon {
    display: flex;
    align-items: center; }
    .btn--icon img {
      margin-right: 1rem;
      height: 30px; }
  .btn:hover {
    background-color: #1bbc9d; }

.question__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; }
  @media (min-width: 1200px) {
    .question__wrapper {
      flex-direction: row; } }

.question__illustration {
  display: none; }
  @media (min-width: 1200px) {
    .question__illustration {
      display: block;
      flex-basis: 300px; } }
  .question__illustration img {
    width: 100%; }

.question__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 4rem; }
  @media (min-width: 1200px) {
    .question__list {
      margin-left: 8rem; } }
  .question__list p {
    position: relative; }
    .question__list p::before {
      position: absolute;
      background-image: url("./../img/cross.png");
      background-size: cover;
      top: 50%;
      transform: translateY(-50%);
      left: -60px;
      width: 48px;
      height: 48px;
      content: ""; }

.avana {
  background-color: #fdb816;
  color: #ffffff;
  text-align: center; }
  .avana__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .avana__list {
        flex-direction: row; } }
    .avana__list__item {
      margin-bottom: 2rem; }
      @media (min-width: 768px) {
        .avana__list__item {
          flex-basis: 30%;
          margin-bottom: 0; } }
      .avana__list__item h3 {
        width: 80%;
        margin: 0 auto; }
        @media (min-width: 768px) {
          .avana__list__item h3 {
            width: 100%; } }
      .avana__list__item figure {
        margin-bottom: 1rem; }
        @media (min-width: 768px) {
          .avana__list__item figure {
            margin-bottom: 2rem; } }
        .avana__list__item figure img {
          width: 140px;
          height: auto; }
          @media (min-width: 1200px) {
            .avana__list__item figure img {
              width: auto;
              height: 180px; } }

.payment {
  position: relative;
  background-image: url("./../img/payment-bg.png");
  background-attachment: fixed;
  background-size: cover;
  text-align: center; }
  .payment::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.8; }
  .payment__header, .payment__wrapper {
    position: relative;
    z-index: 10; }
  .payment__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row; }
    .payment__list figure {
      flex-basis: 40%;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (min-width: 768px) {
        .payment__list figure {
          flex-basis: 30%; }
          .payment__list figure:nth-child(-n + 3) {
            margin-bottom: 2rem; } }
      .payment__list figure img {
        width: 100%; }
        @media (min-width: 1200px) {
          .payment__list figure img {
            width: auto;
            height: 60px; } }

.features {
  background-color: #f5f5f5; }
  .features__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .features__list {
        margin-bottom: 1rem; } }
    @media (min-width: 992px) {
      .features__list {
        flex-wrap: wrap;
        flex-direction: row; } }
    .features__list__item {
      flex-basis: 50%;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative; }
      @media (min-width: 768px) {
        .features__list__item {
          flex-direction: row;
          justify-content: space-between; } }
      @media (min-width: 992px) {
        .features__list__item {
          flex-basis: 45%;
          flex-direction: column; } }
      .features__list__item figure {
        width: 300px;
        order: 1;
        margin-bottom: 1rem; }
        @media (min-width: 768px) {
          .features__list__item figure {
            flex-basis: 40%;
            flex-shrink: 0; } }
        @media (min-width: 992px) {
          .features__list__item figure {
            width: 100%;
            order: initial; } }
        .features__list__item figure img {
          width: 100%; }
      .features__list__item__content {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center; }
        @media (min-width: 768px) {
          .features__list__item__content {
            flex-basis: 55%;
            flex-shrink: 0; } }
        @media (min-width: 992px) {
          .features__list__item__content {
            order: initial; } }
        .features__list__item__content h4 {
          text-align: center;
          margin-bottom: 1rem; }
          @media (min-width: 992px) {
            .features__list__item__content h4 {
              width: 60%; } }
        @media (min-width: 992px) {
          .features__list__item__content p {
            width: 80%; } }
  .features__videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 992px) {
      .features__videos {
        flex-direction: row; } }
    .features__videos__item {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem; }
      @media (min-width: 992px) {
        .features__videos__item {
          margin-bottom: 0;
          flex-basis: 45%; } }
      .features__videos__item figure {
        width: 85%;
        height: 200px;
        margin-bottom: 1rem; }
        @media (min-width: 768px) {
          .features__videos__item figure {
            width: 100%;
            height: 250px; } }
        @media (min-width: 992px) {
          .features__videos__item figure {
            margin-bottom: 2rem;
            height: 300px;
            width: 100%; } }
        .features__videos__item figure iframe {
          width: 100%;
          height: 100%; }
      .features__videos__item h4 {
        width: 85%;
        text-align: center;
        margin-bottom: 1rem; }
        @media (min-width: 992px) {
          .features__videos__item h4 {
            width: 80%;
            text-align: center; } }
        @media (min-width: 1200px) {
          .features__videos__item h4 {
            width: 100%;
            text-align: left; } }
      @media (min-width: 992px) {
        .features__videos__item p {
          width: 80%; } }

.offer {
  background-color: #1372e8;
  color: #ffffff; }
  .offer__wrapper {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .offer__wrapper {
        align-items: center; } }
  .offer__list {
    counter-reset: section;
    margin: 2rem 0;
    margin-left: 4rem; }
    @media (min-width: 1200px) {
      .offer__list {
        margin-left: 200px; } }
    .offer__list p {
      position: relative; }
      .offer__list p::before {
        position: absolute;
        background-image: url("./../img/point.png");
        background-size: cover;
        top: 50%;
        transform: translateY(-50%);
        left: -60px;
        width: 48px;
        height: 48px;
        content: ""; }
      .offer__list p::after {
        position: absolute;
        counter-increment: section;
        content: counter(section);
        font-weight: 600;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
        left: -60px;
        width: 48px;
        height: 48px; }

.target {
  position: relative;
  background-image: url("./../img/socmed-bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center; }
  .target::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.8; }
  .target__header, .target__wrapper {
    position: relative;
    z-index: 10; }
  .target__list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .target__list {
        flex-wrap: wrap;
        flex-direction: row; } }
    .target__list__item {
      flex-basis: 45%;
      display: flex;
      align-items: center;
      margin-bottom: 2rem; }
      .target__list__item figure img {
        width: 80px; }
        @media (min-width: 768px) {
          .target__list__item figure img {
            width: 100px; } }
      .target__list__item p {
        text-align: left;
        margin-left: 2rem; }
        @media (min-width: 1200px) {
          .target__list__item p {
            margin-left: 1rem; } }

.testimonial__list {
  margin-bottom: 4rem; }
  .testimonial__list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center; }
    @media (min-width: 768px) {
      .testimonial__list__item {
        flex-direction: row; } }
    .testimonial__list__item figure {
      order: 1; }
      @media (min-width: 768px) {
        .testimonial__list__item figure {
          flex: 1;
          order: initial; } }
      .testimonial__list__item figure iframe {
        height: 200px;
        margin-bottom: 1rem; }
        @media (min-width: 768px) {
          .testimonial__list__item figure iframe {
            height: 300px;
            width: 90%; } }
        @media (min-width: 992px) {
          .testimonial__list__item figure iframe {
            width: 100%; } }
    .testimonial__list__item__content {
      order: 2;
      flex-basis: 50%; }
      @media (min-width: 768px) {
        .testimonial__list__item__content {
          text-align: justify;
          margin: 0 2rem; } }
      @media (min-width: 1200px) {
        .testimonial__list__item__content {
          order: initial; } }
      .testimonial__list__item__content p:nth-child(1) {
        margin-bottom: 2rem; }
      .testimonial__list__item__content p:nth-child(2),
      .testimonial__list__item__content h3 {
        text-align: center; }

.testimonial__slider {
  height: 400px;
  background-color: #f5f5f5;
  color: #808080;
  display: flex;
  justify-content: center;
  align-items: center; }

.contact {
  color: #ffffff;
  background-color: #fdb816;
  position: relative;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .contact {
      flex-direction: row;
      justify-content: space-evenly; } }
  @media (min-width: 1200px) {
    .contact {
      display: block;
      margin-top: 6rem; } }
  .contact .section__header h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4; }
  @media (min-width: 1200px) {
    .contact .section__header {
      width: 90%; }
      .contact .section__header h3 {
        font-size: initial;
        font-weight: initial;
        line-height: initial; } }
  .contact .section__intro h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center; }
    @media (min-width: 1200px) {
      .contact .section__intro h4 {
        font-size: initial;
        font-weight: initial;
        line-height: initial;
        text-align: initial; } }
  .contact__form {
    background-color: #1372e8;
    border-radius: 10px;
    order: 1;
    width: 90%; }
    @media (min-width: 768px) {
      .contact__form {
        order: initial;
        margin: 0 20px; } }
    @media (min-width: 1200px) {
      .contact__form {
        border-radius: 30px;
        position: absolute;
        left: 10vw;
        top: 50%;
        transform: translateY(-50%);
        width: 400px; } }
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .contact__wrapper {
        margin: 0 20px; } }
    @media (min-width: 1200px) {
      .contact__wrapper {
        padding-left: 600px;
        margin-bottom: 0; } }
  .contact__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact__content p {
      margin-bottom: 2rem; }

.faq {
  background-color: #f5f5f5; }
  @media (min-width: 1200px) {
    .faq {
      padding-top: 8rem; } }
  .faq__wrapper {
    margin-top: 2rem; }
  .faq__item {
    margin-bottom: 5px; }
    .faq__item__toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px; }
      .faq__item__toggle img {
        width: 20px;
        height: 20px; }
      .faq__item__toggle.active img {
        transform: rotate(90deg); }
    .faq__item__question {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      background-color: #1372e8;
      color: #ffffff;
      position: relative; }
    .faq__item__answer {
      display: none;
      padding: 1rem;
      background-color: #ffffff; }
      .faq__item__answer .list {
        counter-reset: section; }
        .faq__item__answer .list p {
          position: relative;
          padding-left: 30px; }
        .faq__item__answer .list p::before {
          position: absolute;
          left: 0;
          counter-increment: section;
          content: counter(section) " . "; }
