@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

// breakpoints
$small: 768px;
$medium: 992px;
$large: 1200px;

// fonts
$montserrat: "Montserrat", sans-serif;

// colors
$blue: #1372e8;
$orange: #fdb816;
$red: #e74c3c;
$green: #1bbc9d;
$grey: #808080;
$light-grey: #f5f5f5;
$black: #3b3b3b;
$white: #ffffff;
