.header {
  height: 100vh;
  background-color: $blue;

  @include breakpoint(small) {
    background-color: unset;
    height: 500px;
    background-image: url("./../img/header_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include breakpoint(medium) {
    height: 600px;
    background-size: fill;
  }

  @include breakpoint(large) {
    background-size: 100%;
    height: 100vh;
    min-height: 100vh;
  }
}

.navbar {
  height: 90px;
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 30px;
  }

  &__hamburger {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;

    div {
      width: 40px;
      height: 6px;
      background-color: $orange;
      transition: all 0.2s ease-out;

      &::before,
      &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        height: 6px;
        background-color: $orange;
        transition: all 0.2s ease-in-out;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    &.active {
      div {
        background-color: transparent;
        &::before {
          background-color: $white;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        &::after {
          background-color: $white;
          bottom: 50%;
          transform: translateY(50%) rotate(-45deg);
        }
      }
    }
  }

  &__brand {
    display: flex;
    align-items: center;

    img {
      height: 30px;
    }
  }
}

.hero {
  height: calc(100vh - 90px);

  @include breakpoint(small) {
    height: 410px;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
  }

  @include breakpoint(medium) {
    // height: 510px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__intro {
    order: 2;
    color: $white;
    display: flex;
    flex-direction: column;

    @include breakpoint(small) {
      align-items: flex-start;
      flex-basis: 55%;
      order: 1;
    }

    h1 {
      margin-bottom: 2rem;
      text-align: center;

      @include breakpoint(small) {
        text-align: left;
      }
    }

    a {
      margin-bottom: 2rem;
    }
  }

  &__image {
    order: 1;
    margin-bottom: 2rem;

    @include breakpoint(large) {
      margin-bottom: 0;
      order: 2;
    }

    img {
      width: 360px;

      @include breakpoint(small) {
        width: 350px;
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        // right: -20%;
      }

      @include breakpoint(medium) {
        width: 400px;
      }

      @include breakpoint(large) {
        width: 550px;
      }
    }
  }
}
