html,
body {
  font-family: $montserrat;
  color: $black;
  position: relative;
}

.fixed {
  position: fixed;
}

* {
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;

  @include breakpoint(large) {
    width: 80%;
  }
}

.section {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 85%;
    text-align: center;
    margin-bottom: 0.5rem;

    @include breakpoint(large) {
      width: 60%;
    }
  }

  &__intro {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: justify;

    @include breakpoint(large) {
      text-align: center;
      width: 80%;
    }
  }
}
